header#header
	.header__container
		.hamburger-menu
			a.hamburger(href="#navigation--mobile") 
				span
			a(href="#").hamburger-text Menu
		nav.navigation
			ul.navigation__list
				li.navigation__item
					a.navigation__link.active(href="#") Home  
					ul.navigation__list--sub
						li.navigation__item
							a.navigation__link(href="#") child 1
						li.navigation__item
							a.navigation__link(href="#") child 2
							ul.navigation__list--sub.sub
								li.navigation__item
									a.navigation__link.sub-link(href="#") grandchild 1
								li.navigation__item
									a.navigation__link.sub-link(href="#") grandchild 2
						li.navigation__item
							a.navigation__link(href="#") child 3
						li.navigation__item
							a.navigation__link(href="#") child 4
				li.navigation__item
					a.navigation__link(href="#") Demo                 
				li.navigation__item
					a.navigation__link(href="#")  New Patient Center   
				li.navigation__item
					a.navigation__link(href="#")    About Us
				li.navigation__item
					a.navigation__link(href="#") Services                 
				li.navigation__item
					a.navigation__link(href="#")   Testimonials  
				li.navigation__item
					a.navigation__link(href="#") Contact Us
