@import "../scss/_mixins";
@import "../scss/typography";

* {
	box-sizing: border-box;
}
html,body {
	height: 100%; 
}
body {
	background-color: grey;
}
[class*="__container"] {
    max-width: 1240px;
    margin: 0 auto; 
    padding: 0 15px; 
}
header {
	width: 100%;
	background-color: $bgc1;
}
.hamburger {
	display: none;
}
.navigation {
	display: flex;
	&__list {
		width: 945px;
		display: flex;
		justify-content: space-between;
		.sublevel-1 {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 100%;
			left: 0;
		}
	}
	&__item {
		position: relative;
		padding: 30px;
		@include transition(background);
		&:hover {
			.sublevel-1 {
				opacity: 1;
				visibility: visible;
			}
			background-color: $bgc2;
		}
	}
	&__link {
		color: $color1;
		font-size: $fs-sm;
		font-weight: 700;
		text-transform: uppercase;
		&:hover {
			color: $color2;
		}
	} 
}
.active {
	background-color: $bgc3;
}
.arrow {
	color: $color1;
	padding-left: 5px;
}
.opener {
	display: inline-block;
	font: 14px/1 font-awesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-right: 20px;
	&:hover {
		background-color: $bgc2;
	}
}

.navigation__list--sub {
	width: 200px;
	background-color: $bgc2;
	.sublevel-2 {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}
.navigation__list--sub .navigation__item {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background-color: $bgc3;
	margin-bottom: 2px;
	&:hover {
		background-color: $bgc2;
		.sublevel-2 {
				opacity: 1;
				visibility: visible;
			}
	}
}
.navigation__list--sub .navigation__link {
	padding: 20px 57px 20px 18px;
}
@media (max-width: 768px) {
	.hamburger {
		display: flex;
	}	
	.navigation {
		display: none;
	}
}

.navigation__list--sub {
	.navigation__item {
		flex-wrap: wrap;
	}
	.navigation__link {
		display: flex;
		padding-right: 35px;
		position: relative;
		width: 100%;
		&:hover {
			.opener {
				color: white;
			}
		}
	}
	.opener {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 30px;
		background: $bgc1;
		&:hover {
			color: $bgc3;
			background: cyan;
		}
		&:before {
			content: "\2b";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.open-close--active {
		.navigation__link {
			background: #35a2eb;
			color: white;
		}
		.opener {
			color: $bgc3;
			background: cyan;
			&:before {
				content: '-';
			}
		}
	}
}

.navigation__list--sub .sublevel-2 {
	opacity: 1;
	visibility: visible;
	position: relative;
}
