@import "../scss/_mixins";
@import "../scss/typography";

* {
	box-sizing: border-box;
}
html,body {
	height: 100%; 
}
body {
	background-color: grey;
}
[class*="__container"] {
    max-width: 1240px;
    margin: 0 auto; 
    padding: 0 15px; 
}
header {
	width: 100%;
	background-color: $bgc1;
}

.hamburger-menu {
	display: none;
}
.hamburger {
	display: none;
}
.navigation {
	display: flex;
	&__list {
		display: flex;
		justify-content: space-between;
		.sublevel-1 {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 100%;
			left: 0;
		}
	}
	&__item {
		position: relative;
		&.active {
			.navigation__link {
				background-color: $bgc3;
			}
			&:hover {
				.navigation__link {
					background-color: $bgc3;
					color: $color1;
				}
			}
		}
		&.has-child {
			&:after {
				display: inline-block;
				content: "\2b";
				width: 20px;
				height: 20px;
				color: $color2;
				font-size: 50px;
			}
		}
		&:hover {
			.sublevel-1 {
				opacity: 1;
				visibility: visible;
			}
			.navigation__link {
				color: $color2;
				background-color: $bgc2;
			}	
		}
	}
	&__link {
		padding: 30px;
		color: $color1;
		font-size: $fs-sm;
		font-weight: 700;
		text-transform: uppercase;
		display: block;
	} 
}
.arrow {
	color: $color1;
	padding-left: 5px;
}
.opener {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 30px;
	background: $bgc1;
	&:hover {
		color: $bgc3;
		background: $bgc2;
	}
	&:before {
		content: "\2b";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
.navigation__list--sub {
	width: 210px;
	.sublevel-2 {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}
.navigation__list--sub .navigation__item {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background-color: $bgc3;
	&:hover {
		background-color: $bgc2;
		.sublevel-2 {
				opacity: 1;
				visibility: visible;
			}
	}
}
.sub {
	margin-top: 0;
}
.navigation__list--sub {
	.navigation__item {
		flex-wrap: wrap;
	}
	.navigation__link {
		display: flex;
		padding-right: 35px;
		position: relative;
		width: 100%;
		&:hover {
			.opener {
				color: $color1;
				background: $bgc2;
			}
		}
	}
.open-close--active {
	.navigation__link {
			background: $bgc3;
			color: $color1;
		}
		.opener {
			color: $color2;
			background: $bgc2;
			&:before {
				content: '-';
			}
		}
	}
}
.navigation__list--sub .navigation__link.sub-link {
	background-color: $bgc4;
	color: $color2;
	&:hover {
		background-color: $bgc2;
	}
}
.navigation__list--sub .sublevel-2 {
	opacity: 1;
	visibility: visible;
	position: relative;
}
@media (max-width: 920px) {
	.hamburger-menu {
		display: flex;
		padding-left: 50px;
		align-items: center;
	} 
	.hamburger {
		z-index: 100;
		position: relative;
		height: 20px;
		width: 30px;
		@include flex(null, column, space-between, null);
		&::before,
		&::after {
		content: "";
		background-color: $bgc4;
			height: 4px;
		}
		& span {
		height: 4px;
		background-color: $bgc4;
		}
	}	
	.hamburger-text {
		padding-left: 20px;
		text-transform: uppercase;
		color: $color1;
		font-weight: 900;
		font-size: 24px;
	}
	.navigation {
		display: none;
	}
	.navigation__list {
		flex-direction: column;
	}
}